.slide-right {
  animation-name: slide-right;
  animation-duration: 1500ms;
}

@keyframes slide-right {
    0% {
      translate: -280px
    }
    100% {
      translate: none;
    }
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 1500ms;
}

@keyframes slide-left {
    0% {
      translate: 280px
    }
    100% {
      translate: none;
    }
}

.slide-right-hr {
  animation: slide-right-hr;
  animation-duration: 2200ms;
}

@keyframes slide-right-hr {
  0% {
    translate: -280px;
  } 
  100% {
    translate: none;
  }
}

.slide-left-hr {
  animation: slide-left-hr;
  animation-duration: 2200ms;
}

@keyframes slide-left-hr {
  0% {
    translate: 280px;
  } 
  100% {
    translate: none;
  }
}

.open-drawer {
  animation: drawer-open;
  animation-duration: 1000ms;
}

@keyframes drawer-open {
  0% {
    translate: 280px
  }
  100% {
    translate: none
  }
}

.close-drawer {
  animation: drawer-close;
  animation-duration: 2000ms;
  
}

@keyframes drawer-close {
  50% {
    translate: 280px;
  }
  100% {
    display: hidden;
  }
}