.open-drawer {
  animation: drawer-open;
  animation-duration: 500ms;
}

@keyframes drawer-open {
  0% {
    translate: 280px
  }
  100% {
    translate: none
  }
}

@keyframes open-drawer640 {
  0% {
    translate: 500px;
  }
  100% {
    translate: none;
  }
}

.close-drawer {
  animation: drawer-close;
  animation-duration: 500ms;
  
}

@keyframes drawer-close {
  50% {
    translate: 280px;
  }
  100% {
    display: hidden;
  }
}

@keyframes close-drawer640 {
  50% {
    translate: 500px
  }
  100% {
    display: hidden;
  }
}


@media (min-width: 640px) {
  .open-drawer {
    animation-name: open-drawer640;
    animation-duration: 500ms;
  }
  .close-drawer {
    animation-name: close-drawer640;
    animation-duration: 500ms;
  }
}