.slide-right {
  animation-name: slide-right;
  animation-duration: 1500ms;
}

@keyframes slide-right {
    0% {
      translate: -280px
    }
    100% {
      translate: none;
    }
}

.slide-left {
  animation-name: slide-left;
  animation-duration: 1500ms;
}

@keyframes slide-left {
    0% {
      translate: 280px
    }
    100% {
      translate: none;
    }
}

.slide-right-hr {
  animation: slide-right-hr;
  animation-duration: 3000ms;
}

@keyframes slide-right-hr {
  0% {
    translate: -280px;
  } 
  100% {
    translate: none;
  }
}

.slide-left-hr {
  animation: slide-left-hr;
  animation-duration: 3000ms;
}

@keyframes slide-left-hr {
  0% {
    translate: 280px;
  } 
  100% {
    translate: none;
  }
}